/* VARIABILI */

:root{
    --text-gray: rgb(111, 111, 111);
}

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ol,ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* GENERAL */

.app {
    height: 100vh;
    font-family: 'Arimo', sans-serif;
}

.row{
    display: flex;
}

.row-between{
    display: flex;
    justify-content: space-between;
}

.row-center{
    align-items: center;
}

.row-column{
    display: flex;
    flex-direction: column;
}

/* MAIN */

.main{
    flex-grow: 1;
    overflow: hidden;
    /* border: 2px solid red; */
}

/* NAVBAR */

.navbar{
    overflow: hidden;
    flex-basis: 230px;
    flex-shrink: 0;
    padding: 0 20px;
    background-color: black;
    color: var(--text-gray);
    font-size: 12px;
}

.navbar .navbar-playlist{
    flex-grow: 1;
}

/* Logo */

.navbar .navbar-logo{
    flex-basis: 88px;
}

.navbar-logo > .logo-mobile{
    display: none;
}

.navbar-logo > .logo-img{
    height: 40px;
}

/* Menù */

.navbar .navbar-menu{
    margin-bottom: 26px;
}

.navbar-menu .menu-list{
    gap: 12px;
}

.navbar-menu .menu-list i{
    font-size: 20px;
}

.menu-list > [class^="item-"]{
    gap: 10px;
}

.menu-list > .item-home i{
    color: #D2D2D2;
}

.menu-list > .item-home > span{
    color: white;
}

/* Playlist */

.navbar-playlist > h3{
    text-transform: uppercase;
    color: white;
    margin-bottom: 12px;
}

.navbar-playlist > .playlist-list{
    gap: 20px;
}

.playlist-list > .playlist-made{
    gap: 10px;
}

.playlist-list > .playlist-made i{
    font-size: 50px;
    color: rgb(163, 163, 163);
}

.playlist-list > .playlist-made > span{
    font-size: 18px;
}

/* App */

.navbar-app{
    margin-bottom: 10px;
}

.navbar-app .item-app{
    gap: 10px;
}

.navbar-app::after{
    display: block;
    content: '';
    height: 1px;
    border-radius: 999px;
    background-color: var(--text-gray);
    margin-top: 10px;
}

/* Account */

.navbar-account{
    margin-bottom: 5px;
}

.navbar-account .item-account{
    gap: 10px;
}

.item-account .account-avatar{
    border-radius: 50%;
    object-fit: fill;
    object-position: center;
    background-color: gray;
}

.item-account .account-img{
    width: 20px;
    height: 18px;
}

.item-account .account-name{
    color: white;
    font-weight: 700;
}

/* MEDIAQUERY NAVBAR */

@media screen and (max-width: 552px){
    
    .navbar{
        flex-basis: 50px;
        padding: 0 10px;
        align-items: center;
    }

    .navbar-playlist,
    .navbar-logo > .logo-img,
    .navbar span{
        display: none;
    }

    .navbar .navbar-logo{
        flex-basis: unset;
        padding: 12px 0;
    }

    .navbar-logo > .logo-mobile{
        display: block;
        height: 30px;
        aspect-ratio: 1/1;
        filter: invert(1);
    }

    .navbar .navbar-menu{
        margin-bottom: auto;
    }
}

/* MAIN CONTENT */

.main-content{
    overflow: auto;
    flex-grow: 1;
    background-color: rgb(24, 36, 33);
    font-size: 10px;
    font-weight: 700;
    color: var(--text-gray);
}

.main-content > :not(.main-header){
    padding: 0 20px;
}

/* Main-Header */

.main-content > .header{
    padding: 0 5px;
    height: 88px;
    background-color: rgb(20, 25, 34);
    color: white;
    position: fixed;
    width: calc(100% - 230px);
    top: 0;
    z-index: 9999;
}

.main-content .main-header{
    justify-content: flex-end;
    align-items: center;
    height: 88px;
}

.main-header .button{
    border: 1px solid;
    border-radius: 999px;
}

.main-header .button > a{
    text-transform: uppercase;
    padding: 0 40px;
    line-height: 30px;
}

/* Menù */

.main-content .main-menu{
    text-transform: uppercase;
    justify-content: center;
    padding: 20px 0;
}

.main-menu .menu-list{
    flex-wrap: wrap;
    gap: 16px;
}

/* Recent - Personale - Popolare */

.recent{
    margin-bottom: 40px;
}

.personal{
    margin-bottom: 32px;
}

.recent .recent-title,
.personal .personal-title,
.popular .popular-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.recent .recent-title{ 
    margin-bottom: 36px;
}

.personal .personal-title{
    margin-bottom: 12px;
}

.popular .popular-title{
    margin-bottom: 12px;
}

.personal .personal-subtitle,
.popular .popular-subtitle{
    margin-bottom: 36px;
}

.recent-albums,
.personal-albums,
.popular-albums{
    margin: 0 -15px;
}

.recent-albums .recent-preview,
.personal-albums .personal-preview,
.popular-albums .popular-preview{
    text-align: center;
    row-gap: 16px;
    padding: 0 15px;
    flex-basis: calc(100% / 6);
}

.recent-albums .recent-thumb > img,
.personal-albums .personal-thumb > img,
.popular-albums .popular-thumb > img{
    display: block;
    width: 170px;
    aspect-ratio: 1/1;
}

.popular-albums .popular-thumb > img{
    border-radius: 50%;
}

.recent-albums .recent-album,
.personal-albums .personal-album,
.popular-albums .popular-album{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}

/* MEDIAQUERY MAIN-CONTENT */

@media screen and (max-width: 878px){

    .recent-albums,
    .personal-albums,
    .popular-albums{
        flex-wrap: wrap;
    }

    .recent-albums .recent-preview,
    .personal-albums .personal-preview,
    .popular-albums .popular-preview{
        flex-basis: calc(100% / 4);
    }
}

@media screen and (max-width: 639px){

    .recent-albums .recent-preview,
    .personal-albums .personal-preview,
    .popular-albums .popular-preview{
        flex-basis: calc(100% / 2);
    }
}

@media screen and (max-width: 552px){

    .main-content > .header{
        width: calc(100% - 50px);
    }
}

/* ASIDE */

.player{
    height: auto;
    flex-shrink: 0;
    padding: 12px 0;
    background-color: rgb(40, 40, 40);
    color: white;
}

.player .player-album,
.player .player-audio{
    flex-basis: 230px;
}

.nav-bar{
    height: 3px;
    border-radius: 999px;
    background-color: white;
}

/* Album */

.player-album.row-center{
    padding: 0 8px;
}

.album-preview.row,
.album-icons.row{
    gap: 12px;
}

.album-preview .album-img{
    width: 45px;
    aspect-ratio: 1/1;
}

.player .album-name{
    font-size: 12px;
}

.player .album-track{
    font-size: 8px;
    color: var(--text-gray);
}

.player .album-icons > i{
    color: var(--text-gray);
}

/* Navigazione */

.player .player-nav{
    flex-basis: 40%;
}

.player-nav .list-icons{
    gap: 20px;
}

.player-nav .list-icons > .circle-play{
    margin: 0 10px;
}

.list-icons > .circle-play > i{
    font-size: 30px;
}

.player .nav-time{
    width: 100%;
    gap: 20px;
    margin-top: 10px;
}

.nav-time .nav-bar.gray{
   flex-grow: 1;
    background-color: var(--text-gray);
}

.nav-time .nav-bar.white{
    width: 20%;
}

.nav-time > [class^="time-"]{
    font-size: 10px;
}

/* Volume */

.player .player-audio{
    padding: 0 8px;
    gap: 12px;
}

.player .audio-nav{
    display: contents;
}

.player-audio .nav-bar.white{
    width: 20%;
    background-color: white;
}

.player-audio .nav-bar.gray{
    flex-grow: 1;
    background-color: var(--text-gray);
}

/* MEDIAQUERY ASIDE  */

@media screen and (max-width: 639px){
    .player .album-icons.row{
        flex-direction: column;
        gap: 5px;
    }
}

@media screen and (max-width: 552px){
    .album-preview .album-img{
        width: 28px;
    }
    
}