/* VARIABILI */

:root{
    --text-gray: rgb(111, 111, 111);
}

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ol,ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* GENERAL */

.app {
    height: 100vh;
    font-family: 'Arimo', sans-serif;
}

.row{
    display: flex;
}

.row-between{
    display: flex;
    justify-content: space-between;
}

.row-center{
    align-items: center;
}

.row-column{
    display: flex;
    flex-direction: column;
}

/* MAIN */

.main{
    flex-grow: 1;
    overflow: hidden;
    /* border: 2px solid red; */
}

/* NAVBAR */

.navbar{
    overflow: hidden;
    flex-basis: 230px;
    flex-shrink: 0;
    padding: 0 20px;
    background-color: black;
    color: var(--text-gray);
    font-size: 12px;
}

.navbar .navbar-playlist{
    flex-grow: 1;
}

/* Logo */

.navbar .navbar-logo{
    flex-basis: 88px;
}

.navbar .navbar-logo > img{
    height: 40px;
}

/* Menù */

.navbar .navbar-menu{
    margin-bottom: 26px;
}

.navbar-menu .menu-list{
    gap: 12px;
}

.navbar-menu .menu-list i{
    font-size: 20px;
}

.menu-list > [class^="item-"]{
    gap: 10px;
}

.menu-list > .item-home i{
    color: #D2D2D2;
}

.menu-list > .item-home > span{
    color: white;
}

/* Playlist */

.navbar-playlist > h3{
    text-transform: uppercase;
    color: white;
    margin-bottom: 12px;
}

.navbar-playlist > .playlist-list{
    gap: 20px;
}

.playlist-list > .playlist-made{
    gap: 10px;
}

.playlist-list > .playlist-made i{
    font-size: 50px;
    color: rgb(163, 163, 163);
}

.playlist-list > .playlist-made > span{
    font-size: 18px;
}

/* MEDIAQUERY NAVBAR */

@media screen and (max-width: 552px){
    
    .navbar{
        flex-basis: 50px;
    }
}

/* MAIN CONTENT */

.main-content{
    overflow: auto;
    flex-grow: 1;
    background-color: rgb(20, 25, 34);
    color: var(--text-gray);
}

/* ASIDE */

.player{
    height: auto;
    flex-shrink: 0;
    padding: 12px 0;
    background-color: rgb(40, 40, 40);
    color: white;
}

.player .player-album,
.player .player-audio{
    flex-basis: 230px;
}

.nav-bar{
    height: 3px;
    border-radius: 999px;
    background-color: white;
}

/* Album */

.player-album.row-center{
    padding: 0 8px;
}

.album-preview.row,
.album-icons.row{
    gap: 12px;
}

.album-preview .album-img{
    width: 45px;
    aspect-ratio: 1/1;
}

.player .album-name{
    font-size: 12px;
}

.player .album-track{
    font-size: 8px;
    color: var(--text-gray);
}

.player .album-icons > i{
    color: var(--text-gray);
}

/* Navigazione */

.player .player-nav{
    flex-basis: 40%;
}

.player-nav .list-icons{
    gap: 20px;
}

.player-nav .list-icons > .circle-play{
    margin: 0 10px;
}

.list-icons > .circle-play > i{
    font-size: 30px;
}

.player .nav-time{
    width: 100%;
    gap: 20px;
    margin-top: 10px;
}

.nav-time .nav-bars{
    flex-grow: 1;
}

.nav-time .nav-bar.white{
    /* flex-grow: 1; */
    flex-basis: 20%;
}

.nav-time .nav-bar.gray{
    flex-basis: 80%;
    background-color: var(--text-gray);
}

.nav-time > [class^="time-"]{
    font-size: 10px;
}

/* Volume */

.player .player-audio{
    padding: 0 8px;
    gap: 12px;
}

.player .audio-nav{
    display: contents;
}

.player-audio .nav-bar.white{
    width: 25px;
    background-color: white;
}

.player-audio .nav-bar.gray{
    width: 90px;
    background-color: var(--text-gray);
}

/* MEDIAQUERY ASIDE  */

@media screen and (max-width: 639px){
    .player .album-icons.row{
        flex-direction: column;
        gap: 5px;
    }
}

@media screen and (max-width: 552px){
    .album-preview .album-img{
        width: 28px;
    }
    
}