/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ol,ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* GENERAL */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Arimo', sans-serif;
}

.row{
    display: flex;
}

/* MAIN */

.main{
    flex-grow: 1;
    /* border: 2px solid red; */
}

/* NAVBAR */

.navbar{
    width: 200px;
    flex-shrink: 0;
    padding: 30px;
    border: 2px solid blue;
}

/* MEDIAQUERY NAVBAR */

@media screen and (max-width: 552px){
    
    .navbar{
        width: 80px;
    }
}

/* MAIN CONTENT */

.main-content{
    flex-grow: 1;
    padding: 40px;
    border: 2px solid green;
}

/* ASIDE */

.player{
    height: auto;
    flex-shrink: 0;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    color: white;
}

.player.row{
    justify-content: space-between;
    align-items: center;
}